/*Шрифты*/

@font-face {
    font-family: Gilroy;
    /* Имя шрифта */
    src: url(../fonts/GILROY-REGULAR.TTF);
    /* Путь к файлу со шрифтом */
}


* {
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

/*Start-Header*/

.heder {
    width: 100%;
    display: flex;
    height: 65px;
    background: linear-gradient(90deg, rgba(8, 126, 140, 1) 56%, rgba(26, 26, 102, 1) 100%);
    /* justify-content: space-between; */
    align-items: center;
    justify-content: flex-end;
}


.home,
.help {
    display: inline-block;
    color: white;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.home:after,
.help:after {
    display: block;
    content: "";
    background-color: white;
    height: 1px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.home:hover:after,
.home:focus:after,
.help:hover:after,
.help:focus:after {
    width: 100%;
}


.heder a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Gilroy";
}

.download_btn {
    border-style: solid;
    border-width: 2px;
    padding: 5px 40px;
    border-radius: 40px;
    border-color: white;
    transition: 0.4s;
    opacity: 1;
}

.download_btn:hover {
    transition: 0.4s;
    box-shadow: inset 0px 0px 15px white;
    opacity: 0.7;
}

.item {
    margin-right: 100px;
}

@media (max-width: 650px) {
    .heder {
        justify-content: space-evenly;
    }

    .heder .download_btn {
        display: none;
    }

    .item {
        margin-right: 0px;
    }
}

/*End-Header*/


/*Start-Content*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content p{
    margin-bottom: 40px;
    font-size: 35px;
    letter-spacing: 1px;
    text-align: center;
    font-family: "Gilroy";
}

/*first_content*/

.first_content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}

.first_content p {
    font-size: 35px;
    font-family: "Gilroy";
    letter-spacing: 1.5px;
}

.first_content_img {
    width: 350px;
}


/*Second_content*/


.second_content {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 50%;
    padding-top: 30px;
}

.second_content_text {
    padding-top: 30px;
    font-size: 35px;
    font-family: "Gilroy";
    letter-spacing: 1px;
    text-align: center;
}

.flex_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 500px;
}

.second_content_img2 {
    align-self: center;
}

.second_content_img1,
.second_content_img2 {
    width: 200px;
}


/*three_content*/

.three_content {
    width: 50%;
    display: flex;
    justify-content: space-between;

}

.left_main {
    display: flex;
    flex-direction: column;
}

.three_content_left_up {
    margin-bottom: 130px;
}

.right_main {
    display: flex;
    flex-direction: column;
}

.three_content_right_up{
    margin-top: 70px;
    margin-bottom: 150px;
}

.left_main img {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(46, 46, 46, 0.5);
}

.right_main img {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(46, 46, 46, 0.5);
}

.three_content_centr{
    display: flex;
}


.three_content_centr img {
    align-self: center;
    width: 150px;
    height: 150px;
}


/*Media-Content*/

@media (max-width: 800px) {
    .three_content{
        align-items: center;
    }

    .flex_content{
        flex-direction: column;
        align-items: center;
    }

    .content p{
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
        padding-bottom: 10px;
    }
    .first_content img{
        width: 270px;
        padding-top: 15px;
    }
    .first_content p{
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
    }

    .second_content {
        height: 1000px;
    }

    .second_content_text p{
        padding-top: 275px;
        font-size: 20px;
        text-align: center;
    }
    
    .second_content img{
        width: 180px;
        padding-bottom: 40px;
    }

    .three_content{
        flex-direction: column;
    }

    .left_main{
        margin-bottom: 40px;
    }

    .three_content_left_up{
        margin-bottom: 40px;
    }

    .three_content_centr{
        display: none;
    }

    .right_main{
        margin-bottom: 40px;
    }

    .three_content_right_up{
        margin-top: 20px;
        margin-bottom: 40px;
    }
}


/*End-Media-Content*/


/*End-Content*/