/*Шрифты*/
@font-face {
    font-family: Gilroy;
    /* Имя шрифта */
    src: url(../fonts/GILROY-REGULAR.TTF);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Gilroy-Bold;
    /* Имя шрифта */
    src: url(../fonts/GILROY-BOLD.TTF);
    /* Путь к файлу со шрифтом */
}

* {
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.heder {
    width: 100%;
    display: flex;
    height: 65px;
    background: linear-gradient(90deg, rgba(8, 126, 140, 1) 56%, rgba(26, 26, 102, 1) 100%);
    /* justify-content: space-between; */
    align-items: center;
    justify-content: flex-end;
}

.sign,
.home {
    display: inline-block;
    color: white;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.sign:after,
.home:after {
    display: block;
    content: "";
    background-color: white;
    height: 1px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.sign:hover:after,
.sign:focus:after,
.home:hover:after,
.home:focus:after {
    width: 100%;
}

.heder a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Gilroy";
}

.item {
    margin-right: 100px;
}

/*accordion*/

.accordion__item {
    margin-bottom: 3px;
    border-radius: 10px;
    box-shadow: 0 0.125rem 1rem rgb(0 0 0 / 15%);
}

.accordion__header {
    font-family: "Gilroy";
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 10px;
    color: black;
    font-weight: 500;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.accordion__header::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    background-image: url(/img/help/down_icon.svg);
    color: black;
    transition: transform 0.2s ease-out;
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
    transform: rotate(-180deg);
}

.accordion__header:hover {
    background-color: rgb(202, 191, 191);
}

.accordion__item:not(.accordion__item_show) .accordion__header {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.accordion__content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    font-family: "Gilroy";
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.accordion__content a {
    position: relative;
    display: block;
    padding: 0.5rem 10px;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgb(0 0 0 / 12.5%);
}

.accordion__content a:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.accordion__content a:hover {
    background-color: #f8f9fa;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}

/*accordion*/

.FAQ {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.h1_ {
    font-family: "Gilroy-Bold";
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3em;
}

.feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Gilroy";
}

.conditions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Gilroy";
}

.privacy{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Gilroy";
}
.feedback_dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faq_img {
    width: 500px;
    height: 350px;
}
.conditions_img{
    width: 500px;
    height: 450px;
}

.privacy_img{
    width: 500px;
    height: 350px;
}
.feedback_img {
    width: 500px;
    height: 350px;
}

.accordion {
    width: 25%;
}

.feedback_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
}
.conditions_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
}

.privacy_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
}

.feedback_form>form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0.125rem 1rem rgb(0 0 0 / 15%);
}

.conditions_form>form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0.125rem 1rem rgb(0 0 0 / 15%);
}

.privacy_form>form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0.125rem 1rem rgb(0 0 0 / 15%);
}

.feedback_form>p {
    /* font-family: "Gilroy-Bold"; */
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: center;
}

.conditions_form>p {
    /* font-family: "Gilroy-Bold"; */
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: center;
}

.privacy_form>p{
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: center;
}
form>p{
    font-size: 1em;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    color: gray;
    text-align: center;
}
form>.input {
    text-decoration: none;
    border: 0;
    background-color: #E6E6E6;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    outline: none;
}

form> #text{
    resize: vertical;
    min-height: 80px;
    max-height: 650px;
    height: 20%;
}

form>.button {
    border: 0;
    cursor: pointer;
    text-decoration: none;
    background-color: orange;
    border-radius: 50px;
    border-color: white;
    width: 40px;
    height: 40px;
    content: "";
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-image: url(/img/help/icons8.svg);
    background-position: center;
    margin: auto;
    margin-bottom: 10px;
}

form>.button_privacy {
    border: 0;
    cursor: pointer;
    text-decoration: none;
    background-color: orange;
    border-radius: 50px;
    border-color: white;
    width: 120px;
    height: 40px;
    content: "Політика";
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: center;
    margin: auto;
    margin-bottom: 10px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width: 800px) {
    .faq_img {
        display: none;
    }

    .feedback_img {
        display: none;
    }
    
    .conditions_img {
        display: none;
    }
    .privacy_img{
        display: none;
    }

    .FAQ {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .accordion {
        width: 80%;
    }

    .feedback {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .feedback_form {
        width: 80%;
    }

    .conditions{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .conditions_form{
        width: 80%;
    }

    .privacy{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .privacy_form{
        width: 80%;
    }

    .h1_ {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 2.5em;
    }
}

@media (max-width: 650px) {
    .heder {
        justify-content: space-evenly;
    }

    .heder .download_btn {
        display: none;
    }

    .item {
        margin-right: 0px;
    }
}