* {
  margin: 0;
}

@font-face {
  font-family: mbf;
  /* Имя шрифта */
  src: url(../fonts/mbf-canno.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Gilroy;
  /* Имя шрифта */
  src: url(../fonts/GILROY-REGULAR.TTF);
  /* Путь к файлу со шрифтом */
}

.about,
.sign {
  display: inline-block;
  color: white;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.about:after,
.sign:after {
  display: block;
  content: "";
  background-color: white;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.about:hover:after,
.about:focus:after,
.sign:hover:after,
.sign:focus:after {
  width: 100%;
}

.mouse {
  width: 48px;
  height: 86px;
  border: 2px solid white;
  border-radius: 100px;
  position: absolute;
  box-sizing: border-box;
  margin-left: 50%;
  margin-right: 50%;
  top: 80%;
}

.mouse::before {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.fon {
  background: url(../img/background.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100%;
}

html {
  /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
  width: 0;
}

.container {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
}

.row>a {
  font-family: "Gilroy";
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 130px;
}


.animated-button:hover {
  transition: 0.4s;
  box-shadow: inset 0px 0px 15px white;
  opacity: 0.7;
}

.animated-button2:hover {
  transition: 0.4s;
  box-shadow: inset 0px 0px 15px white;
  opacity: 0.7;
}

.animated-button {
  display: inline;
  border-style: solid;
  border-width: 2px;
  padding: 5px 40px;
  border-radius: 40px;
  transition: 0.4s;
  opacity: 1;
  margin-top: -8px;
  text-decoration: none;
  color: white;
}

.animated-button2 {
  display: inline;
  border-style: solid;
  border-width: 2px;
  padding: 5px 40px;
  border-radius: 40px;
  transition: 0.4s;
  opacity: 1;
  margin-top: -8px;
  font-family: "Gilroy";
  text-decoration: none;
  font-size: 30px;
  color: white;
  margin-left: 80px;
}

.content {
  padding-top: 10%;
  color: white;

}

.detox_h1 {
  font-family: mbf;
  font-weight: 100;
  font-size: 12em;
  margin: 0;
  line-height: 0.8;
}

.content_p1 {
  font-family: "Gilroy";
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 5%;
}

.content_p2 {
  font-family: "Gilroy";
  font-size: 2.6em;
  font-weight: 300;
  margin-bottom: 20px;
}

.lotos {
  /* padding-left: 20%; */
  padding-top: 15%;
}

.img_lotos {
  min-width: 500px;
  max-width: 500px;
}

footer {
  height: 320px;
  width: 100%;
  background-color: #009D9D;
  color: white;
  font-family: "Gilroy";
  text-decoration: none;
}

footer>.flex-container>.help1>h3>a {
  text-decoration: none;
  color: white;
}

footer>.flex-container>.help1>a,
footer>.flex-container>.help2>a {
  line-height: 1.5;
  font-weight: 400;
}

footer>.flex-container>.help2>h3>a {
  text-decoration: none;
  color: white;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
}

footer>.flex-container>.help>p {
  font-size: 1em;
}


footer>.flex-container>.contacts>a>.twitter {
  margin: 0 30px;
  width: 43px;
}

footer>.flex-container>.contacts>a>.facebook {
  margin: 0 30px;
  width: 24px;
}

footer>.flex-container>.contacts>a>.instagram {
  margin: 0 30px;
  width: 35px;
}

.copyright {
  padding-top: 20px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
}

.row {
  margin-top: 20px;
  position: absolute;
  display: flex;
  right: 0;
}


#preloader_malc {
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.preloader_lotos {
  height: 200px;
  position: absolute;
  z-index: 999;
}


.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.water {
  width: 400px;
  height: 400px;
  background-color: skyblue;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, .5), 0 4px 10px 0 rgba(0, 0, 0, .5);
  overflow: hidden;
}

.water:before,
.water:after {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  top: -90px;
  background-color: #fff;
}

.water:before {
  border-radius: 45%;
  background: rgba(255, 255, 255, .7);
  animation: wave 5s linear infinite;
}

.water:after {
  border-radius: 35%;
  background: rgba(255, 255, 255, .3);
  animation: wave 5s linear infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}






@media (max-width:330px) {
  footer {
    padding-bottom: 20px;
  }
}

@media (max-width:290px) {
  footer {
    padding-bottom: 100px;
  }
}

@media (max-width:267px) {
  footer {
    padding-bottom: 200px;
  }
}

@media (max-height:520px) {
  .lotos {
    display: none;
  }

  footer {
    height: 320px;
  }

  .mouse {
    display: none;
  }

  .container {
    padding-bottom: 20px;
  }
}

@media (max-width: 530px) {

  .animated-button {
    display: none;
  }

  .preloader_lotos {

    height: 80px;
  }


  .water {
    width: 200px;
    height: 200px;
  }

  .water:before,
  .water:after {
    width: 200px;
    height: 200px;
    top: -40px;
  }
}

@media (max-width: 553px) {

  .contacts {
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) and (max-height:800px) {
  footer {
    height: 320px;
  }

  .detox_h1 {
    font-size: 6em;
  }

  .content_p1 {
    font-size: 1.5em;
  }

  .content_p2 {
    font-size: 1.2em;
  }

  .mouse {
    display: none;
  }

  .animated-button2 {
    margin-left: 0px;
    font-size: 1em;
  }

}

@media screen and (max-width: 1000px) and (max-height:780px) {
  .mouse {
    display: none;
  }
}


@media (max-width:1000px) {

  .lotos {
    display: none;
  }

  .container {
    align-content: space-around;
  }

  .row>a {
    margin-right: 50px;
  }

  .container {
    padding-top: 150px;
    padding-bottom: 20px;
  }
}


@media (max-height:825px) {
  .mouse {
    display: none;
  }
}